  body{
    background-color: #ebebebad;
  }
   .navbar-text{
    font-size: 30px !important;
    color: black;
    
   }
   .navbar-text:hover{
    color: #333333df;
   }
   
   /* Content styles */
   .content {
     max-width: 800px;
     margin: 0 auto;
     padding: 20px;
   }

   .contact-home{
    background-color: rgba(111, 102, 102, 0.061);
     padding: 20px;
     border-radius: 5px;
   }
   
   /* Footer styles */
   footer {
     text-align: center;
     padding: 10px 0;
     background-color: #333;
     color: white;
     height: 100%;
   }
   .contact-area{
     background-color: rgba(111, 102, 102, 0.061);
     padding: 20px;
     border-radius: 5px;
   }
   .contact-area b {
     display: flex;
     align-items:flex-start;
     text-align: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: gray;
    
   }
   .content h1{
     background-color: rgba(203, 203, 203, 0.364);
     justify-content: center;
     text-align: center;
     border-radius: 5px ;
   }
   .profile{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .profile img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
   border: 2px solid black;
   }
  .formArea{
    background-color: rgba(111, 102, 102, 0.061);
    }

  .formbox{
    border-radius: 10px;
    padding: 10px;
  }